.buttonsContainer {
}

.responseContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imageContainer {
}

.image {
}

.textContainer{


}

.code {
    font-weight: bold;
}

.text {
    margin-top: 20px;
}
.info {
}