.input:focus {

}

.input {
    width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {

}

.errorInput {
}

.errorInput:focus {
}

.error {
    color: #CC1439;
    padding-bottom: 5px;
}
