.input:focus, input:focus-visible{
border-color: green;
}

.input {
    width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {
    padding: 10px 20px 10px 20px;
}

.errorInput {
    border: 1px solid #CC1439;
}

.errorInput:focus {


}

.error {
    color: #CC1439;
    padding-bottom: 5px;
}
