.App {
    --header_height: 60px;
}

.hw {
    padding: 0 70px 0 70px;
}

.hwTitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    border-bottom: 1px solid #D9D9D9;
    padding: 107px 0px 10px 70px;
}