.burgerMenuIcon {

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 17px 70px 14px 70px;
}

.header h1 {
    font-weight: 600;
    font-size: 24px;
}